<div class="relative h-75vh bg-cover bg-center bg-hero-image">
  <div class="absolute inset-0 bg-gradient-to-t from-gray-600 via-blue-500 to-green-300 opacity-50"></div>
  <div class="relative inset-2 py-24 sm:py-60 sm:ml-80 sm:inset-3 justify-center mx-2 ">
    <div class="md:w-34rem">
      <h1 class="font-roboto font-bold text-3xl md:text-4xl text-center text-white sm:text-left">Small businesses <span class="text-blue-400 text-4xl">W</span>ebsite design, development</h1>
      <h2 class="font-roboto font-semibold text-2xl md:text-3xl text-center sm:text-left"> & <span class="text-white text-3xl">A</span>nalytics services</h2>
    </div>
    <div class="flex flex-col items-center justify-center md:flex-row md:justify-start  mt-4 sm:mt-8 ">
      <div>
        <button class="bg-blue-700 opacity-70 p-3 border-2 rounded-sm hover:bg-white"> Request A quotation</button>
      </div>
      <div class="mt-4 md:mt-0 md:ml-4">
        <button class="p-3 border-2 border-black rounded-sm hover:bg-green-300 opacity-70 font-semibold text-white"> Request A quotation</button>
      </div>
    </div>
  </div>
  <div class="absolute bottom-10 w-full flex justify-center">
    <svg class="animate-bounce w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
      <polyline points="6 9 12 15 18 9"></polyline>
    </svg>
  </div>
</div>
<div class="bg-white md:h-fit">
  <div class="mt-10">
    <h1 class="font-roboto font-bold text-2xl md:text-4xl text-center">Our Services</h1>
  </div>
  <div>
    <p class="font-thin text-center text-1xl m-2 text-blue-700">At Mosec, we partner with small and medium size enterprises</p>
  </div>
  <div class="mt-8 grid lg:grid-cols-2 gap-4 sm:gap-40 justify-center">
    <div class="m-20 w-96 h-fit bg-white-300 border md:ml-64">
      <div class="mt-8 justify-center items-center">
        <p class="p-4 text-justify text-1xl">We enable your business growth by offering cutting edge services and consultations around website design, 
          web development, and data analytics.</p>
        <div class="p-4">
          <button class="items-center bg-blue-400 w-52 border  border-white text-black text-1xl font-roboto font-semibold p-2">See all services</button>
        </div>
      </div>
    </div>
    <div class="grid lg:grid-cols-2 gap-6 justify-center items-center md:mr-44 ">
      <div class="w-80 h-60 md:h-fit m-2 rounded-sm border-b-4 bg-gray-50 shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
        <svg class="w-8 m-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path d="M10.5 18a.75.75 0 0 0 0 1.5h3a.75.75 0 0 0 0-1.5h-3Z" />
          <path fill-rule="evenodd" d="M7.125 1.5A3.375 3.375 0 0 0 3.75 4.875v14.25A3.375 3.375 0 0 0 7.125 22.5h9.75a3.375 3.375 0 0 0 3.375-3.375V4.875A3.375 3.375 0 0 0 16.875 1.5h-9.75ZM6 4.875c0-.621.504-1.125 1.125-1.125h9.75c.621 0 1.125.504 1.125 1.125v14.25c0 .621-.504 1.125-1.125 1.125h-9.75A1.125 1.125 0 0 1 6 19.125V4.875Z" clip-rule="evenodd" />
        </svg>
        <h2 class="ml-2 font-bold text-blue-400">Website Design</h2>
        <p class="ml-2 text-1xl font-thin">We bring your idea to life by designing a custom web app for your business</p>
        <br/>
        <a class="ml-2 text-sm font-normal text-blue-400" href="#">Learn more ... </a>
      </div>
      <div class="w-80 h-60 md:h-fit m-2 rounded-sm border-b-4 bg-gray-50 shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-green-50 duration-300">
        <svg class="w-8 m-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path d="M21.721 12.752a9.711 9.711 0 0 0-.945-5.003 12.754 12.754 0 0 1-4.339 2.708 18.991 18.991 0 0 1-.214 4.772 17.165 17.165 0 0 0 5.498-2.477ZM14.634 15.55a17.324 17.324 0 0 0 .332-4.647c-.952.227-1.945.347-2.966.347-1.021 0-2.014-.12-2.966-.347a17.515 17.515 0 0 0 .332 4.647 17.385 17.385 0 0 0 5.268 0ZM9.772 17.119a18.963 18.963 0 0 0 4.456 0A17.182 17.182 0 0 1 12 21.724a17.18 17.18 0 0 1-2.228-4.605ZM7.777 15.23a18.87 18.87 0 0 1-.214-4.774 12.753 12.753 0 0 1-4.34-2.708 9.711 9.711 0 0 0-.944 5.004 17.165 17.165 0 0 0 5.498 2.477ZM21.356 14.752a9.765 9.765 0 0 1-7.478 6.817 18.64 18.64 0 0 0 1.988-4.718 18.627 18.627 0 0 0 5.49-2.098ZM2.644 14.752c1.682.971 3.53 1.688 5.49 2.099a18.64 18.64 0 0 0 1.988 4.718 9.765 9.765 0 0 1-7.478-6.816ZM13.878 2.43a9.755 9.755 0 0 1 6.116 3.986 11.267 11.267 0 0 1-3.746 2.504 18.63 18.63 0 0 0-2.37-6.49ZM12 2.276a17.152 17.152 0 0 1 2.805 7.121c-.897.23-1.837.353-2.805.353-.968 0-1.908-.122-2.805-.353A17.151 17.151 0 0 1 12 2.276ZM10.122 2.43a18.629 18.629 0 0 0-2.37 6.49 11.266 11.266 0 0 1-3.746-2.504 9.754 9.754 0 0 1 6.116-3.985Z" />
        </svg>
        <h2 class="ml-2 font-bold text-blue-400">Website Development</h2>
        <p class="ml-2 text-1xl font-thin">We bring your idea to life by designing a custom web app for your business</p>
        <br/>
        <a class="ml-2 text-sm font-normal text-blue-400" href="#">Learn more ... </a>
      </div>
      <div class="w-80 h-60 md:h-fit m-2 rounded-sm bg-gray-50 border-b-4 shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
        <svg class="w-8 m-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path fill-rule="evenodd" d="M12 6.75a5.25 5.25 0 0 1 6.775-5.025.75.75 0 0 1 .313 1.248l-3.32 3.319c.063.475.276.934.641 1.299.365.365.824.578 1.3.64l3.318-3.319a.75.75 0 0 1 1.248.313 5.25 5.25 0 0 1-5.472 6.756c-1.018-.086-1.87.1-2.309.634L7.344 21.3A3.298 3.298 0 1 1 2.7 16.657l8.684-7.151c.533-.44.72-1.291.634-2.309A5.342 5.342 0 0 1 12 6.75ZM4.117 19.125a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75h-.008a.75.75 0 0 1-.75-.75v-.008Z" clip-rule="evenodd" />
          <path d="m10.076 8.64-2.201-2.2V4.874a.75.75 0 0 0-.364-.643l-3.75-2.25a.75.75 0 0 0-.916.113l-.75.75a.75.75 0 0 0-.113.916l2.25 3.75a.75.75 0 0 0 .643.364h1.564l2.062 2.062 1.575-1.297Z" />
          <path fill-rule="evenodd" d="m12.556 17.329 4.183 4.182a3.375 3.375 0 0 0 4.773-4.773l-3.306-3.305a6.803 6.803 0 0 1-1.53.043c-.394-.034-.682-.006-.867.042a.589.589 0 0 0-.167.063l-3.086 3.748Zm3.414-1.36a.75.75 0 0 1 1.06 0l1.875 1.876a.75.75 0 1 1-1.06 1.06L15.97 17.03a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
        <h2 class="ml-2 font-bold text-blue-400">Website Maintenance</h2>
        <p class="ml-2 text-1xl font-thin">We bring your idea to life by designing a custom web app for your business</p>
        <br/>
        <a class="ml-2 text-sm font-normal text-blue-400" href="#">Learn more ... </a>
      </div>
      <div class="w-80 h-60 md:h-fit m-2 rounded-sm border-b-4 bg-gray-50 shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-green-50  duration-300">
        <svg class="w-8 m-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 0 1 8.25-8.25.75.75 0 0 1 .75.75v6.75H18a.75.75 0 0 1 .75.75 8.25 8.25 0 0 1-16.5 0Z" clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M12.75 3a.75.75 0 0 1 .75-.75 8.25 8.25 0 0 1 8.25 8.25.75.75 0 0 1-.75.75h-7.5a.75.75 0 0 1-.75-.75V3Z" clip-rule="evenodd" />
        </svg>
        <h2 class="ml-2 font-bold text-blue-400">Data Analytics</h2>
        <p class="ml-2 text-sm font-thin">We bring your idea to life by designing a custom web app for your business</p>
        <br>
        <a class="ml-2 text-sm font-normal text-blue-400" href="#">Learn more ... </a>
      </div>
    </div>
  </div>
</div>
<div class = "mt-8 md:pb-40 bg-gray-100 md:h-5/6">
  <div class="text-center py-6">
    <p class="md:mt-20 text-center font-thin text-1xl">
      Reasons you should consider working with us.
    </p>
    <h1 class="font-bold text-2xl md:text-4xl text-blue-400 font-roboto">Why Choose <span class="text-black">Us ?</span>
    </h1>
  </div>
  <div class="m-2 md:mt-10 grid lg:grid-cols-3 gap-x-2 gap-y-2 md:gap-y-4 md:gap-x-2 md:px-4 justify-center md:ml-72">
    <div class="w-72 h-40 rounded-sm border-b-4 bg-gray-50 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <div>
        <svg class="w-8 md:w-12 m-8 border fill-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z" clip-rule="evenodd" />
        </svg>
        <h2>Timely Services</h2>
      </div>
    </div>
    <div class="w-72 h-40 rounded-sm border-b-4 bg-gray-50 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <div>
        <svg class="w-8 md:w-12 m-8 border fill-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
          <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
        </svg>
        <h2>Well thought processes</h2>
      </div>
    </div>
    <div class="w-72 h-40 rounded-sm border-b-4 bg-gray-50 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <svg class="w-8 md:w-12 m-8 border fill-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
        <path d="M10.464 8.746c.227-.18.497-.311.786-.394v2.795a2.252 2.252 0 0 1-.786-.393c-.394-.313-.546-.681-.546-1.004 0-.323.152-.691.546-1.004ZM12.75 15.662v-2.824c.347.085.664.228.921.421.427.32.579.686.579.991 0 .305-.152.671-.579.991a2.534 2.534 0 0 1-.921.42Z" />
        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v.816a3.836 3.836 0 0 0-1.72.756c-.712.566-1.112 1.35-1.112 2.178 0 .829.4 1.612 1.113 2.178.502.4 1.102.647 1.719.756v2.978a2.536 2.536 0 0 1-.921-.421l-.879-.66a.75.75 0 0 0-.9 1.2l.879.66c.533.4 1.169.645 1.821.75V18a.75.75 0 0 0 1.5 0v-.81a4.124 4.124 0 0 0 1.821-.749c.745-.559 1.179-1.344 1.179-2.191 0-.847-.434-1.632-1.179-2.191a4.122 4.122 0 0 0-1.821-.75V8.354c.29.082.559.213.786.393l.415.33a.75.75 0 0 0 .933-1.175l-.415-.33a3.836 3.836 0 0 0-1.719-.755V6Z" clip-rule="evenodd" />
      </svg>
      <h2>Affordable plans</h2>
    </div>
    <div class="w-72 h-40 rounded-sm border-b-4 bg-gray-50 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <div>
        <svg class="w-8 md:w-12 m-8 border fill-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path fill-rule="evenodd" d="M2.25 2.25a.75.75 0 0 0 0 1.5H3v10.5a3 3 0 0 0 3 3h1.21l-1.172 3.513a.75.75 0 0 0 1.424.474l.329-.987h8.418l.33.987a.75.75 0 0 0 1.422-.474l-1.17-3.513H18a3 3 0 0 0 3-3V3.75h.75a.75.75 0 0 0 0-1.5H2.25Zm6.04 16.5.5-1.5h6.42l.5 1.5H8.29Zm7.46-12a.75.75 0 0 0-1.5 0v6a.75.75 0 0 0 1.5 0v-6Zm-3 2.25a.75.75 0 0 0-1.5 0v3.75a.75.75 0 0 0 1.5 0V9Zm-3 2.25a.75.75 0 0 0-1.5 0v1.5a.75.75 0 0 0 1.5 0v-1.5Z" clip-rule="evenodd" />
        </svg>
        <h2>Data oriented </h2>
      </div>
    </div>
    <div class="w-72 h-40 rounded-sm border-b-4 bg-gray-50 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <div>
        <svg class="w-8 md:w-12 mx-auto md:m-8 border fill-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM15.75 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM2.25 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM6.31 15.117A6.745 6.745 0 0 1 12 12a6.745 6.745 0 0 1 6.709 7.498.75.75 0 0 1-.372.568A12.696 12.696 0 0 1 12 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 0 1-.372-.568 6.787 6.787 0 0 1 1.019-4.38Z" clip-rule="evenodd" />
          <path d="M5.082 14.254a8.287 8.287 0 0 0-1.308 5.135 9.687 9.687 0 0 1-1.764-.44l-.115-.04a.563.563 0 0 1-.373-.487l-.01-.121a3.75 3.75 0 0 1 3.57-4.047ZM20.226 19.389a8.287 8.287 0 0 0-1.308-5.135 3.75 3.75 0 0 1 3.57 4.047l-.01.121a.563.563 0 0 1-.373.486l-.115.04c-.567.2-1.156.349-1.764.441Z" />
        </svg>
        <h2>Team work</h2>
      </div>
    </div>
    <div class="w-72 h-40 rounded-sm border-b-4 bg-gray-50 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
      <div>
        <svg class="w-8 md:w-12 m-8 border fill-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path fill-rule="evenodd" d="M15.22 6.268a.75.75 0 0 1 .968-.431l5.942 2.28a.75.75 0 0 1 .431.97l-2.28 5.94a.75.75 0 1 1-1.4-.537l1.63-4.251-1.086.484a11.2 11.2 0 0 0-5.45 5.173.75.75 0 0 1-1.199.19L9 12.312l-6.22 6.22a.75.75 0 0 1-1.06-1.061l6.75-6.75a.75.75 0 0 1 1.06 0l3.606 3.606a12.695 12.695 0 0 1 5.68-4.974l1.086-.483-4.251-1.632a.75.75 0 0 1-.432-.97Z" clip-rule="evenodd" />
        </svg>
        <h2> Growth </h2>
      </div>
    </div>
  </div>
</div>
<div class="w-full bg-plan  flex flex-col items-center justify-center md:flex-row md:justify-around">
  <div class="mt-8 md:mt-52 md:mb-4 w-96 h-fit">
    <%= image_tag("/assets/man_on_phone.webp", alt:"man holding phone") %>
  </div>
  <div class="w-96 md:w-900px h-fit md:h-600px">
    <h1 class="mt-4 mb-4 font-roboto text-1xl font-normal text-justify text-blue-400 uppercase"> OUR TOP PREMIUM PLAN</h2>
    <p class="text-2xl md:text-4xl font-roboto font-bold "><span class="text-blue-500">$0</span> Down, <span class="text-blue-500">$100</span> Per Month, <br/>
      <span class="md:text-justify">10 Months Minimum Contract</span>
    </p>
    <p class="mt-2 md:mt-24 font-roboto text-gray-500"> Make a $0 down payment for a standard 5 page website and a recurring $100 per month charges, <br/>
      if you need more than that then we can do a custom price with respect
      to the number of pages, <br/>
      design and duration. <br/>
      <br/>
      The monthly cost takes care of hosting and maintenance. Any further redesign needs will be <br/>
      charged differently.
    </p>
    <br/>
    <p class="font-roboto text-gray-500 font-semibold"> We also offer a one time payment option for the web design and development services upon agreement.</p>
    <div class="mt-8 bg-blue-500 text-center"><button class="p-4 w-32 h-12 font-roboto uppercase text-white">Talk to Us</button></div>
  </div>
</div>
<div class="h-screen">
  <h1 class="font-roboto font-bold text-4xl text-center mt-8">Other <span class="text-blue-500">Pricing</span> Plans</h1>
  <div class="mt-8 md:mt-20 grid lg:grid-cols-3 gap-8 justify-items-center">
    <div class="bg-gray-500 border-2 w-80 h-600px">A</div>
    <div class="bg-gray-500 border-2 w-80 h-600px">B</div>
    <div class="bg-gray-500 border-2 w-80 h-600px">C</div>
  </div>
</div>