<div class="relative h-75vh bg-cover bg-center bg-hero-image">
  <div class="absolute inset-0 bg-gradient-to-t from-gray-600 via-blue-500 to-green-300 opacity-50"></div>
  <div class="relative inset-2 py-24 sm:py-60 sm:ml-80 sm:inset-3 justify-center mx-2 ">
    <div class="md:w-34rem">
      <h1 class="font-bold sm:font-extrabold text-3xl sm:text-4xl text-center text-white sm:text-left">Small businesses <span class="text-blue-400 text-4xl">W</span>ebsite design, development</h1>
      <h2 class="font-bold text-2xl text-center sm:text-left"> & <span class="text-white text-3xl">A</span>nalytics services</h2>
    </div>
    <div class="flex flex-col items-center justify-center md:flex-row md:justify-start  mt-4 sm:mt-8 ">
      <div>
        <button class="bg-blue-400 opacity-70 p-3 border-2 rounded-2xl hover:bg-white"> Request A quotation</button>
      </div>
      <div class="mt-4 md:mt-0 md:ml-4">
        <button class="p-3 border-2 border-black rounded-2xl hover:bg-green-300 opacity-70 font-semibold text-white"> Request A quotation</button>
      </div>
    </div>
  </div>
</div>
</div>
<div class="bg-white md:h-75vh">
  <div class="py-6">
    <h1 class="font-bold text-2xl text-center text-blue-400">WHAT WE DO</h1>
  </div>
  <div>
    <p class="font-thin text-center text-1xl m-2">At Mosec, we partner with small and medium size enterprises</p>
  </div>
  <div class="mt-8 grid lg:grid-cols-2 gap-4">
    <div class="m-20 w-96 h-52 bg-white-300 border md:ml-64">
      <div class="py-6">
        <p class="p-4 text-justify font-bold">We enable your business growth by offering cutting edge services and consultations around website design, 
          web development, and data analytics.</p>
        <button class="m-4 border-2 border-black bg-blue-700 w-36 text-white font-bold p-4">View All</button>
      </div>
    </div>
    <div class="grid lg:grid-cols-2 gap-6 justify-center md:mr-44">
      <div class="w-80 h-44 md:h-52 m-2 rounded-md border-b-4 bg-gray-100 shadow-lg shadow-blue-500/50">1</div>
      <div class="w-80 h-44 md:h-52 m-2 rounded-md border-b-4 bg-gray-100 shadow-lg shadow-blue-500/50">2</div>
      <div class="w-80 h-44 md:h-52 m-2 rounded-md bg-gray-100 border-b-4 shadow-lg shadow-blue-500/50">3</div>
      <div class="w-80 h-44 md:h-52 m-2 rounded-md border-b-4 bg-gray-100 shadow-lg shadow-blue-500/50">4</div>
    </div>
  </div>
</div>
<div class = "h-75h">
  <div class="text-center underline md:underline-offset-4 py-6">
    <h1 class="font-bold text-2xl text-blue-400">ABOUT US
    </h1>
  </div>
  <div class="flex flex-col justify-center">
    <img class= "w-48 h-48 rounded-full mx-auto" src="assets/Moses.webp">
    <h1 class="text-center text-1xl py-2 ">Moses Choka</h1>
    <p class="text-center text-1xl p-6"> Moses is a web developer and a data analyst. Over the years I have learnt and gained these two topics.</p>
  </div>
</div>