<div class="py-6 md:py-8">
  <p class="font-roboto font-light text-center text-gray-500 mb-4 md:mb-8 mx-28">Some of the projects we have worked on include the following </p>
  <h3 class="font-roboto font-bold text-2xl md:text-4xl text-center text-blue-500"> Portfolio </h3>
  <div class="mt-8 mx-20 flex flex-col md:flex-row justify-around items-center">
    <div class="my-4 w-[350px] h-96 border-2 rounded-br-3xl hover:border-blue-500 transition-all ease-in-out">
      <%= image_tag("/assets/my_logo.png", alt:"man", class:"w-[350px] h-40")%>
      <div class="p-4">
        <h4 class="font-bold py-1"> DataSessions </h4>
        <p class="font-thin">Hello man let's work this out work this out</p>
        <p class="font-thin">Hello man let's work this out work this out</p>
        <p class="font-thin">Hello man let's work this out work this out</p>
        <p class="font-thin">Hello man let's work this out work this out</p>
        <button class="mt-6 px-8 bg-blue-600 bg-opacity-10 py-2 border border-blue-500 rounded-md">Check Project</button>
      </div>
    </div>
    <div class="my-4 w-[350px] h-96 border-2 rounded-br-3xl hover:border-blue-500 transition-all ease-in-out">
      <%= image_tag("/assets/hero-img.png", alt:"man", class:"w-[350px] h-40")%>
      <div class="p-4">
        <h4 class="font-bold py-1"> DataSessions </h4>
        <p class="font-thin">Hello man let's work this out work this out</p>
        <p class="font-thin">Hello man let's work this out work this out</p>
        <p class="font-thin">Hello man let's work this out work this out</p>
        <p class="font-thin">Hello man let's work this out work this out</p>
        <button class="mt-6 px-8 bg-blue-600 bg-opacity-10 py-2 border border-green-500 rounded-md">Check Project</button>
      </div>
    </div>
    <div class="my-4 w-[350px] h-96 border-2 rounded-br-3xl hover:border-blue-500 transition-all ease-in-out">
      <%= image_tag("/assets/mosec-logo.webp", alt:"man", class:"w-[350px] h-40 ")%>
      <div class="p-4">
        <h4 class="font-bold py-1"> DataSessions </h4>
        <p class="font-thin">Hello man let's work this out work this out</p>
        <p class="font-thin">Hello man let's work this out work this out</p>
        <p class="font-thin">Hello man let's work this out work this out</p>
        <p class="font-thin">Hello man let's work this out work this out</p>
        <button class=" mt-6 px-8 bg-blue-600 bg-opacity-10 py-2 border border-blue-500 rounded-md">Check Project</button>
      </div>
    </div>
  </div>
</div>
<div>