<div class="py-20">
  <h1 class="font-roboto font-medium text-4xl text-center">Our services</h1>
</div>
<div class="md:ml-8 mr-8 flex flex-col items-end md:border-y md:border-r rounded-md rounded-l-none border-blue-500">
  <div class="pt-8 pb-14 font-roboto mr-8 md:w-[800px]">
    <svg class="w-24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
      <path d="M21.721 12.752a9.711 9.711 0 0 0-.945-5.003 12.754 12.754 0 0 1-4.339 2.708 18.991 18.991 0 0 1-.214 4.772 17.165 17.165 0 0 0 5.498-2.477ZM14.634 15.55a17.324 17.324 0 0 0 .332-4.647c-.952.227-1.945.347-2.966.347-1.021 0-2.014-.12-2.966-.347a17.515 17.515 0 0 0 .332 4.647 17.385 17.385 0 0 0 5.268 0ZM9.772 17.119a18.963 18.963 0 0 0 4.456 0A17.182 17.182 0 0 1 12 21.724a17.18 17.18 0 0 1-2.228-4.605ZM7.777 15.23a18.87 18.87 0 0 1-.214-4.774 12.753 12.753 0 0 1-4.34-2.708 9.711 9.711 0 0 0-.944 5.004 17.165 17.165 0 0 0 5.498 2.477ZM21.356 14.752a9.765 9.765 0 0 1-7.478 6.817 18.64 18.64 0 0 0 1.988-4.718 18.627 18.627 0 0 0 5.49-2.098ZM2.644 14.752c1.682.971 3.53 1.688 5.49 2.099a18.64 18.64 0 0 0 1.988 4.718 9.765 9.765 0 0 1-7.478-6.816ZM13.878 2.43a9.755 9.755 0 0 1 6.116 3.986 11.267 11.267 0 0 1-3.746 2.504 18.63 18.63 0 0 0-2.37-6.49ZM12 2.276a17.152 17.152 0 0 1 2.805 7.121c-.897.23-1.837.353-2.805.353-.968 0-1.908-.122-2.805-.353A17.151 17.151 0 0 1 12 2.276ZM10.122 2.43a18.629 18.629 0 0 0-2.37 6.49 11.266 11.266 0 0 1-3.746-2.504 9.754 9.754 0 0 1 6.116-3.985Z" />
    </svg>
    <h3 class="from-neutral-600 text-3xl text-blue-500">Web design & development</h3>
    <p class="text-1xl font-thin pt-2">Our team of expert helps bringing your idea and business into life by designing a stunning website<br/>
      that communicates your brand identity. 
    </p>
    <p class="text-1xl font-thin">
      We not only stop at design, but also offer a custom built frontend and backend for your website.
    </p>
    <p class="text-1xl font-thin">Our team of expert helps bringing your idea and business into life by designing a stunning website<br/>
      that communicates your brand identity. 
    </p>
    <p class="text-1xl font-thin">
      We not only stop at design, but also offer a custom built frontend and backend for your website.
    </p>
  </div>
</div>
<div class="md:ml-8 md:mr-8 md:border-b md:border-l rounded-md rounded-r-none border-blue-500">
  <div class="md:ml-8 flex flex-col pt-8 pb-14 font-roboto md:w-[800px] justify-end">
    <svg class="w-24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
      <path fill-rule="evenodd" d="M12 6.75a5.25 5.25 0 0 1 6.775-5.025.75.75 0 0 1 .313 1.248l-3.32 3.319c.063.475.276.934.641 1.299.365.365.824.578 1.3.64l3.318-3.319a.75.75 0 0 1 1.248.313 5.25 5.25 0 0 1-5.472 6.756c-1.018-.086-1.87.1-2.309.634L7.344 21.3A3.298 3.298 0 1 1 2.7 16.657l8.684-7.151c.533-.44.72-1.291.634-2.309A5.342 5.342 0 0 1 12 6.75ZM4.117 19.125a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75h-.008a.75.75 0 0 1-.75-.75v-.008Z" clip-rule="evenodd" />
      <path d="m10.076 8.64-2.201-2.2V4.874a.75.75 0 0 0-.364-.643l-3.75-2.25a.75.75 0 0 0-.916.113l-.75.75a.75.75 0 0 0-.113.916l2.25 3.75a.75.75 0 0 0 .643.364h1.564l2.062 2.062 1.575-1.297Z" />
      <path fill-rule="evenodd" d="m12.556 17.329 4.183 4.182a3.375 3.375 0 0 0 4.773-4.773l-3.306-3.305a6.803 6.803 0 0 1-1.53.043c-.394-.034-.682-.006-.867.042a.589.589 0 0 0-.167.063l-3.086 3.748Zm3.414-1.36a.75.75 0 0 1 1.06 0l1.875 1.876a.75.75 0 1 1-1.06 1.06L15.97 17.03a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
    </svg>
    <h3 class="from-neutral-600 text-3xl text-blue-500">Web Maintenance</h3>
    <p class="text-1xl font-thin pt-2">Our team of expert helps bringing your idea and business into life by designing a stunning website<br/>
      that communicates your brand identity. 
    </p>
    <p class="text-1xl font-thin">
      We not only stop at design, but also offer a custom built frontend and backend for your website.
    </p>
    <p class="text-1xl font-thin">Our team of expert helps bringing your idea and business into life by designing a stunning website<br/>
      that communicates your brand identity. 
    </p>
    <p class="text-1xl font-thin">
      We not only stop at design, but also offer a custom built frontend and backend for your website.
    </p>
  </div>
</div>
<div class="md:ml-8 mr-8 flex flex-col items-end md:border-b md:border-r rounded-md rounded-l-none border-blue-500">
  <div class="py-8 mr-8 font-roboto md:w-[800px]">
    <svg class="w-24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
      <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 0 1 8.25-8.25.75.75 0 0 1 .75.75v6.75H18a.75.75 0 0 1 .75.75 8.25 8.25 0 0 1-16.5 0Z" clip-rule="evenodd" />
      <path fill-rule="evenodd" d="M12.75 3a.75.75 0 0 1 .75-.75 8.25 8.25 0 0 1 8.25 8.25.75.75 0 0 1-.75.75h-7.5a.75.75 0 0 1-.75-.75V3Z" clip-rule="evenodd" />
    </svg>
    <h3 class="from-neutral-600 text-3xl text-blue-500">Data Analytics & Consultancy</h3>
    <p class="pt-3 text-1xl font-thin">Our team of expert helps bringing your idea and business into life by designing a stunning website <br/>
      that communicates your brand identity. 
    </p>
    <p class="text-1xl font-thin">
      We not only stop at design, but also offer a custom built frontend and backend for your website.
    </p>
    <p class="text-1xl font-thin">Our team of expert helps bringing your idea and business into life by designing a stunning website<br/>
      that communicates your brand identity. 
    </p>
    <p class="text-1xl font-thin">
      We not only stop at design, but also offer a custom built frontend and backend for your website.
    </p>
  </div>
</div>
<h2 class="text-3xl font-medium text-start md:ml-32 py-14"> How we get things done</h2>
<div class="mx-32">
  <div class="pb-20 font-roboto grid lg:grid-cols-2">
    <div class="pl-4 bg-gray-100 h-40">
      <h3 class="font-bold text-4xl text-blue-500">01</h3>
      <p class="pt-4 font-thin">Discuss your idea or problem</p>
    </div>
    <div class="pl-4 bg-white h-40">
      <h3 class="font-bold text-4xl text-blue-500">02</h3>
      <p class="pt-4 font-thin">Design a prototype or hypothesis</p>
    </div>
    <div class="pl-4 bg-gray-100 md:bg-white h-40">
      <h3 class="font-bold text-4xl text-blue-500">03</h3>
      <p class="pt-4 font-thin">Working on the project, with regular client updates</p>
    </div>
    <div class="pl-4 bg-white md:bg-gray-100 h-40">
      <h3 class="font-bold text-4xl text-blue-500">04</h3>
      <p class="pt-4 font-thin">Deliver the project</p>
    </div>
  </div>
</div>
