<div class="py-20">
  <h1 class="font-roboto font-bold text-4xl text-center">Our services</h1>
</div>
<div class="mx-20 grid grid-rows-3 gap-6 justify-items-start">
  <div class="pt-12 font-roboto md:w-full">
    <h2 class="font-bold text-3xl">Web design & development</h2>
    <p class="text-1xl font-normal">Our team of expert helps bringing your idea and business into life by designing a stunning website that communicates your brand identity. 
    </p>
    <p class="text-1xl font-normal">
      We not only stop at design, but also offer a custom built frontend and backend for your website.
    </p>
  </div>
  <div class="pt-12 font-roboto md:w-full">
    <h2 class="font-bold text-3xl">Web Maintenance</h2>
    <p class="text-1xl font-normal">Our team of expert helps bringing your idea and business into life by designing a stunning website that communicates your brand identity. 
    </p>
    <p class="text-1xl font-normal">
      We not only stop at design, but also offer a custom built frontend and backend for your website.
    </p>
  </div>
  <div class="py-12 font-roboto md:w-full">
    <h2 class="font-bold text-3xl">Data Analytics & Consultancy</h2>
    <p class="text-1xl font-normal">Our team of expert helps bringing your idea and business into life by designing a stunning website that communicates your brand identity. 
    </p>
    <p class="text-1xl font-normal">
      We not only stop at design, but also offer a custom built frontend and backend for your website.
    </p>
  </div>
</div>
<div>
  <h2 class="text-4xl font-bold"> How we get things done</h2>
  <div class="mx-48 flex flex-rows justify-evenly">
    <div class="bg-gray-300 w-96 h-20">
      <h1 class="text-4xl">01</h1>
    </div>
    <div class="w-40 h-20">
      <h1 class="text-4xl">02</h1>
    </div>
    <br/>
    <div class="w-40 h-20">
      <h1 class="text-4xl">03</h1>
    </div>
    <div class="bg-gray-300 w-96 h-20">
      <h1 class="text-4xl">04</h1>
    </div>
  </div>
</div>
