<div class="py-20">
  <h1 class="font-roboto font-bold text-4xl text-center">Our services</h1>
</div>
<div class="md:ml-8 mr-8 flex flex-col items-end border-b border-r-2 rounded-md border-lime-400">
  <div class="pt-12 pb-14 font-roboto mr-8">
    <h2 class="font-bold text-3xl">Web design & development</h2>
    <p class="text-1xl font-normal pt-2">Our team of expert helps bringing your idea and business into life by designing a stunning website<br/>
      that communicates your brand identity. 
    </p>
    <p class="text-1xl font-normal">
      We not only stop at design, but also offer a custom built frontend and backend for your website.
    </p>
    <p class="text-1xl font-normal">Our team of expert helps bringing your idea and business into life by designing a stunning website<br/>
      that communicates your brand identity. 
    </p>
    <p class="text-1xl font-normal">
      We not only stop at design, but also offer a custom built frontend and backend for your website.
    </p>
  </div>
</div>
<div class="md:ml-8 md:mr-8 border-b border-l-2 rounded-md border-lime-400">
  <div class="md:ml-8 flex flex-col pt-12 pb-14 font-roboto md:w-fit justify-end">
    <h2 class="font-bold text-3xl">Web Maintenance</h2>
    <p class="text-1xl font-normal pt-2">Our team of expert helps bringing your idea and business into life by designing a stunning website<br/>
      that communicates your brand identity. 
    </p>
    <p class="text-1xl font-normal">
      We not only stop at design, but also offer a custom built frontend and backend for your website.
    </p>
    <p class="text-1xl font-normal">Our team of expert helps bringing your idea and business into life by designing a stunning website<br/>
      that communicates your brand identity. 
    </p>
    <p class="text-1xl font-normal">
      We not only stop at design, but also offer a custom built frontend and backend for your website.
    </p>
  </div>
</div>
<div class="md:ml-8 mr-8 flex flex-col items-end border-b border-r-2 rounded-md border-lime-400">
  <div class="py-12 mr-8 font-roboto">
    <h2 class="font-bold text-3xl">Data Analytics & Consultancy</h2>
    <p class="pt-3 text-1xl font-normal">Our team of expert helps bringing your idea and business into life by designing a stunning website <br/>
      that communicates your brand identity. 
    </p>
    <p class="text-1xl font-normal">
      We not only stop at design, but also offer a custom built frontend and backend for your website.
    </p>
    <p class="text-1xl font-normal">Our team of expert helps bringing your idea and business into life by designing a stunning website<br/>
      that communicates your brand identity. 
    </p>
    <p class="text-1xl font-normal">
      We not only stop at design, but also offer a custom built frontend and backend for your website.
    </p>
  </div>
</div>
<h2 class="text-4xl font-bold text-center m-10"> How we get things done</h2>
<div class="mx-32">
  <div class="pb-20 font-roboto grid lg:grid-cols-2">
    <div class="pl-4 bg-gray-100 h-40">
      <h3 class="font-bold text-4xl text-blue-500">01</h3>
      <p class="pt-4 font-thin">Discuss your idea or problem</p>
    </div>
    <div class="pl-4 bg-white h-40">
      <h3 class="font-bold text-4xl text-blue-500">02</h3>
      <p class="pt-4 font-thin">Design a prototype or hypothesis</p>
    </div>
    <div class="pl-4 bg-gray-100 md:bg-white h-40">
      <h3 class="font-bold text-4xl text-blue-500">03</h3>
      <p class="pt-4 font-thin">Working on the project, with regular client updates</p>
    </div>
    <div class="pl-4 bg-white md:bg-gray-100 h-40">
      <h3 class="font-bold text-4xl text-blue-500">04</h3>
      <p class="pt-4 font-thin">Deliver the project</p>
    </div>
  </div>
</div>
