<h1>Welcome to <a href="https://mosec.co.ke">Mosec</a>, <%= @user.email %></h1>

<p>
  <%= @greeting %>, find me in app/views/newsletter_mailer/email_blast.html.erb
</p>
<%= image_tag attachments["mosec-logo.webp"].url, alt: "Mosec logo" %>
