<div class="flex flex-col md:flex-row md:mx-10">
  <div class="font-roboto bg-blue-500 h-60 md:h-75vh w-full sm:w-1/2">
    <h3 class="pt-8 md:pt-48 text-1xl md:text-3xl text-white font-bold text-center"> We are Mosec </h3>
    <p class="py-4 text-1xl text-sm font-normal text-center">We offer the best services around website design and development, data analytics, and business consultancy</p>
  </div>
  <div class="border border-solid border-black h-60 md:h-75vh w-full sm:w-1/2">
    <lite-youtube class="w-full h-full" videoid="IpqlSJ4hys0"></lite-youtube>
  </div>
</div>