<div class="max-w-[1240px] mx-auto md:grid grid-cols-3 gap-8">
  <div class='w-full shadow-xl flex flex-col p-4 my-4 rounded-lg hover:scale-105 duration-300'>
    <img class='w-20 mx-auto mt-[-3rem] bg-white' />
    <h2 class='font-roboto text-2xl font-bold text-center py-8'>Single User</h2>
    <p class='font-roboto text-center text-4xl font-bold'>$149</p>
    <div class='text-center font-medium font-roboto'>
      <p class='py-2 border-b mx-8 mt-8'>500 GB Storage</p>
      <p class='py-2 border-b mx-8'>1 Granted User</p>
      <p class='py-2 border-b mx-8'>Send up to 2 GB</p>
    </div>
    <button class='bg-[#00df9a] w-[200px] rounded-md font-medium my-6 mx-auto py-3 text-black'>Start Trial</button>
  </div>
  <div class='w-full bg-gray-100 shadow-xl flex flex-col p-4 md:my-0 my-8 rounded-lg hover:scale-105 duration-300'>
    <img class='w-20 mx-auto mt-[-3rem] bg-transparent' />
    <h2 class='font-roboto text-2xl font-bold text-center py-8'>Standard</h2>
    <p class='font-roboto text-center text-4xl font-bold'>$149/<span class="font-normal text-1xl lowercase  text-green-400"><sub>month</sub></span></p>
    <div class='text-center font-medium font-roboto'>
      <p class='py-2 border-b mx-8 mt-8'>Website design and development</p>
      <p class='py-2 border-b mx-8'>Hosting and maintenance</p>
      <p class='py-2 border-b mx-8'>Page edits</p>
    </div>
    <button class='bg-[#00df9a] w-[200px] rounded-md font-medium my-6 mx-auto py-3 text-black'>Start Trial</button>
  </div>
  <div class='w-full shadow-xl flex flex-col p-4 my-4 rounded-lg hover:scale-105 duration-300'>
    <img class='w-20 mx-auto mt-[-3rem] bg-white'/>
    <h2 class='text-2xl font-roboto font-bold text-center py-8'>Analytics and Consultancy</h2>
    <p class='text-center text-4xl font-roboto font-bold'>$149</p>
    <div class='text-center font-roboto font-medium'>
      <p class='py-2 border-b mx-8 mt-8'>Analytics and Report Writing</p>
      <p class='py-2 border-b mx-8'>Dashboarding</p>
      <p class='py-2 border-b mx-8'>Ecommerce Analytics</p>
    </div>
    <button class='bg-[#00df9a] w-[200px] rounded-md font-medium my-6 mx-auto py-3 text-black'>Start Trial</button>
  </div>
  <div>
  </div>
</div>