<div class=" mx-auto md:my-28 flex flex-col md:flex-row  bg-gradient-to-r from-blue-500 via-white to-green-500 opacity-80 md:h-96">
  <div class="font-roboto md:py-40 py-10">
    <p class="sm:mx-28 mx-14 md:text-4xl font-medium md:font-bold text-1xl sm:text-2xl"> Want tips & tricks to get the most out of the internet?</p>
    <p class="md:mx-28 mx-14 text-sm sm:font-medium md:font-light md:text-1xl md:text-start md:pt-3 sm:text-center"> Sign up to our newsletter today </p>
  </div>
  <div class="md:m-10 m-2 mx-14 font-roboto md:py-32 ">
    <form>
      <input class="w-48" type="text">
      <input class="p-3 text-0.5xl" type="submit" value="Submit">
    </form>
  </div>
</div>