<section class="font-roboto text-neutral-700">
  <div class="mx-auto text-center md:max-w-xl lg:max-w-3xl">
    <h3 class="mt-8 mb-4 sm:mb-6 py-6 sm:py-8 text-2xl sm:text-3xl font-bold">Testimonials</h3>
    <p class="mx-3 mb-6 pb-2 md:mb-12 md:pb-0 text-1xl font-normal">
      What business owners say about our services
    </p>
  </div>

  <div class="grid gap-6 text-center md:grid-cols-3">
    <div class="mx-auto w-80 sm:w-96">
      <div
        class="block rounded-lg bg-white shadow-lg">
        <div class="h-20 sm:h-28 overflow-hidden rounded-t-lg bg-[#3B82F6]"></div>
        <div
          class="mx-auto -mt-12 w-20 sm:w-24 overflow-hidden rounded-full border-2 border-white bg-white dark:border-neutral-800 dark:bg-neutral-800">
          <%= image_tag("/assets/david_kwemum", alt:"david")%> 
        </div>
        <div class="p-6">
          <h4 class="mb-4 text-1xl sm:text-2xl font-semibold text-blue-500">Sarah Aoko</h4>
          <hr />
          <p class="mt-4 text-sm">
            <span class="inline-block pe-2 [&>svg]:w-5"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 448 512">
                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z" />
              </svg>
            </span>
            Working with Mosec was the best decision for our business. They built us a custom e-commerce site from the ground up, and their hosting service keeps it running flawlessly!
          </p>
        </div>
      </div>
    </div>
    <div class="mx-auto w-80 sm:w-96">
      <div
        class="block rounded-lg bg-white shadow-lg">
        <div class="h-20 sm:h-28 overflow-hidden rounded-t-lg bg-[#10B981]"></div>
        <div
          class="mx-auto -mt-12 w-20 sm:w-24 overflow-hidden rounded-full border-2 border-white bg-white dark:border-neutral-800 ">
         <%= image_tag("/assets/anna-nekrashevich", alt:"anna")%>
        </div>
        <div class="p-6">
          <h4 class="mb-4 text-1xl sm:text-2xl font-semibold text-green-500">Job Momanyi</h4>
          <hr />
          <p class="mt-4 text-sm">
            <span class="inline-block pe-2 [&>svg]:w-5"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 448 512">
                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z" />
              </svg>
            </span>
            We loved the fact that Mosec doesn’t rely on templates. Our website is completely unique and has all the features we needed for our startup.
          </p>
        </div>
      </div>
    </div>
    <div class="mx-auto w-80 sm:w-96">
      <div
        class="block rounded-lg bg-white shadow-lg">
        <div class="h-20 sm:h-28 overflow-hidden rounded-t-lg bg-[#3B82F6]"></div>
        <div
          class="mx-auto -mt-12 w-20 sm:w-24 overflow-hidden rounded-full border-2 border-white bg-white dark:border-neutral-800">
          <%= image_tag("/assets/etem_edasi", alt:"etem")%> 
        </div>
        <div class="p-6">
          <h4 class="mb-4 text-1xl sm:text-2xl font-semibold text-blue-500">Erick Davis</h4>
          <hr />
          <p class="mt-4 text-sm">
            <span class="inline-block pe-2 [&>svg]:w-5"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 448 512">
                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z" />
              </svg>
            </span>
            Working with Mosec transformed the way we understand our business. Their data analytics services provided us with critical insights into customer behavior and website performance.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>